h1 {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 100%, 80%);
  padding: 3rem;
  width: 100%;
}
h2 {
  color: #800000;
  width: 50%;
}
p {
  color: hsl(30, 100%, 15%);
}
body {
  background-color: hsl(0, 0%, 100%);
}

.italic {
  font-style: italic;
}
.important {
  font-weight: bolder;
}
a {
  transition-property: background-color;
  transition-duration: 2s;
}
a:hover {
  background-color: hsl(48, 100%, 60%);
}

a:visited {
  color: blue;
}
section ul li:nth-child(odd) {
  background-color: hsl(0, 0%, 50%);
  width: 50%;
}
section article:nth-child(even) {
  background-color: hsl(0, 0%, 90%);
}

img {
  border-style: dotted;
  border-color: #993300;
  border-width: 5px;
  width: 50%;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-me-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header > h1{
  font-family: "Noto Serif", serif;
  font-weight: 700;
}

main > p{
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.nav-column {
  padding-right: 8%;
  padding-bottom: 4%;
  float: left;
  width: 20%;
}

.main-column {
  padding-left: 15%;
  padding-bottom: 4%;
  float:  right;
  width: 70%
}
